{{ form_start(form) }}

	<div class="col-12 mt-2">
		<button class="btn btn-{{ presence ? 'danger' : 'success' }}">
			{{ button_label|default(presence_text) }}
		</button>
	</div>

{{ form_end(form) }}