{% if seances is not empty %}
	<div class='row mb-4'>

		{# TITRE #}
		{% include 'home/_titre.html.twig' with {'titre': "Prochaines date", 'col': 'offset-1 col-10' } %}

		{# SÉANCES #}
		<div>
			{% for seance_key, seance in seances %}
				{% include 'seance/_seance.html.twig' %}
			{% endfor %}
		</div>
	</div>
{% endif %}