<h4 class="radius-short {{ col is defined ? col : "offset-2 col-8" }} d-none d-lg-block d-xl-block">{{ titre }}</h4>
<h4 class="radius-long {{ col is defined ? col : "offset-2 col-8" }} d-none d-lg-none d-xl-none d-sm-block d-md-block">{{ titre }}</h4>