{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block title %}Asso - FAQ{% endblock %}

{% block body %}

	<div class="container">
		<div class='row mb-1'>

			{# TITRE #}
			<div class='col-12'>
				<h2 class='center souligne'>Foire aux questions</h2>
			</div>

			{# QUESTIONS #}
			<div class='col-12 mb-4 mt-2'>
				<h4 class='italique'>Puis-je amener mon jeu ?</h4>
				<div>Oui, au contraire, on vous encourage à les emmener. Si vous avez un jeu et que vous n'avez personne avec qui y jouer, c'est l'occasion de le faire.</div>
			</div>

			<div class='col-12 mb-4 mt-2'>
				<h4 class='italique'>Puis-je emmener mes enfants ?</h4>
				<div>Les enfants de plus de 12 ans accompagnés sont les bienvenus.</div>
			</div>

			<div class='col-12 mb-4 mt-2'>
				<h4 class='italique'>Quels sont les horaires ?</h4>
				<div>Les horaires sont de 18h30 jusqu'à 23h30. Nous n'acceptons plus personne à partir de 23h.</div>
			</div>

			<div class='col-12 mb-4 mt-2'>
				<h4 class='italique'>Peut-on manger sur place ?</h4>
				<div>Oui mais de préférence dans la partie cuisine ou à l'extérieur. Les boissons sont acceptés mais ne doivent pas être sur les table de jeu à cause du risque de les renverser.</div>
			</div>
		</div>

	</div>

{% endblock %}