{% extends 'base.html.twig' %}

{% block title %}Asso - FAQ{% endblock %}

{% block body %}

	<div class="container">
		<div class='row mb-3'>

			{# TITRE #}
			<h2 class="radius-long offset-4 col-4">Foire aux questions</h2>


			{# QUESTIONS #}
			<section class='col-12'>

				{# HORAIRES ? #}
				<div class='col-12 mb-4 mt-2'>
					<h3 class='italique'>Quel horaire ?</h3>
					<p>
						Nous sommes ouverts tout les mardis.
						<br />
						Nous allons essayer de rester ouvert autant que possible pendant les vacances et jours fériés, on vous tiendra informés si une séance ne sera pas tenue.
						<br />
						Les horaires sont libres à partir de 18h30 jusqu'à 23h00.
					</p>
				</div>

				{# ADRESSE ? #}
				<div class='col-12 mb-4 mt-2'>
					<h3 class='italique'>Quel adresse ?</h3>
					<p>
						4 Rue Jean Bordier, 45130 Baule. Bâtiment annexe gauche de la mairie.
						<br />
						(Attention, il s'agit bien de la mairie et non de la salle des fêtes)
						<br />
						Au carrefour à feux rouges, prendre la route en face de la pharmacie.
						<br />
						Un parking est disponible dans l'enceinte de la mairie ou juste derrière la salle.
					</p>
				</div>

				{# AMENER MON JEU ? #}
				<div class='col-12 mb-4 mt-2'>
					<h3 class='italique'>Puis-je amener mes jeux ?</h3>
					<p>
						Oui, au contraire, on vous encourage à les emmener.
						<br />
						Si vous avez des jeux que vous voulez faire découvrir, c'est l'occasion idéal.
					</p>
				</div>

				{# MANGER ? #}
				<div class='col-12 mb-4 mt-2'>
					<h3 class='italique'>Peut-on manger sur place ?</h3>
					<p>
						Oui mais de préférence dans la partie cuisine ou à l'extérieur.
						<br />
						Les boissons sont acceptés dans la salle mais ne doivent pas être sur les tables de jeu à cause du risque de les renverser.
						<br />
						Généralement nous prenons des pizzas ou des plats fait maison que nous mettons en commun pour tous, de plus nous avons un accord privilégié avec des marchands locaux pour des promotions plus avantageuses.
					</p>
				</div>

				{# AMENER MES ENFANTS ? #}
				<div class='col-12 mb-4 mt-2'>
					<h3 class='italique'>Puis-je emmener mes enfants ?</h3>
					<p>Les enfants de plus de 11 ans accompagnés sont les bienvenus.</p>
				</div>

				{# SESSION OFFERTE #}
				<div class='col-12 mb-4 mt-2'>
					<h3 class='italique'>Puis-je venir pour une séance juste pour essayer sans inscription ?</h3>
					<p>
						Oui, les 3 premières séances d'une saison vous sont offertes.
						<br />
						Au début de la 4ème, une adhésion sera nécessaire.
						<br />
						L'inscription sur le site est purement facultative.
					</p>
				</div>

				{# TARIFS #}
				<div class='col-12 mb-4 mt-2'>
					<h3 class='italique'>Quels sont les tarifs d'adhésion à l'année ?</h3>
					<ul>
						<li>Normal : 20 €</li>
						<li>Réduit : 10 €</li>
						<ul>
							<li>Étudiant</li>
							<li>Mineur</li>
							<li>Demandeurs d’emploi</li>
							<li>Personne en situation de handicap</li>
							<li>Demi-saison (à partir du 01 Décembre 2022)</li>
						</ul>
					</ul>
				</div>

				{# SAISON 2022/2023 #}
				<div class='col-12 mb-4 mt-2'>
					<h3 class='italique'>Date de la saison 2022/2023 ?</h3>
					<p>La saison 2022/2023 commence le 19 avril 2022 et se termine le 01 juillet 2023.</p>
				</div>
			</section>
		</div>
	</div>
{% endblock %}