{% extends 'base.html.twig' %}

{% block title %}Asso - FAQ{% endblock %}

{% block body %}

	<div class="container">
		<div class='row mb-3'>

			{# TITRE #}
			<h2 class="radius-long offset-4 col-4">Foire aux questions</h2>


			{# QUESTIONS #}
			<section class='col-12'>

				{# HORAIRES ? #}
				<div class='col-12 mb-4 mt-2'>
					<h3 class='italique'>Quels sont les horaires ?</h3>
					<div>Nous sommes ouverts tout les mardis sauf vacances et jours fériés.</div>
					<div>Les horaires sont de 18h30 jusqu'à 23h30. Nous n'acceptons plus personne à partir de 23h.</div>
				</div>

				{# ADRESSE ? #}
				<div class='col-12 mb-4 mt-2'>
					<h3 class='italique'>À quels adresse vous situez-vous ?</h3>
					<div>4 Rue Jean Bordier, 45130 Baule. Batiment annexe gauche de la mairie.</div>
				</div>

				{# AMENER MON JEU ? #}
				<div class='col-12 mb-4 mt-2'>
					<h3 class='italique'>Puis-je amener mes jeux ?</h3>
					<div>Oui, au contraire, on vous encourage à les emmener. Si vous avez des jeux que vous voulez faire découvrir, c'est l'occasion idéal.</div>
				</div>

				{# MANGER ? #}
				<div class='col-12 mb-4 mt-2'>
					<h3 class='italique'>Peut-on manger sur place ?</h3>
					<div>Oui mais de préférence dans la partie cuisine ou à l'extérieur. Les boissons sont acceptés mais ne doivent pas être sur les tables de jeu à cause du risque de les renverser.</div>
				</div>

				{# AMENER MES ENFANTS ? #}
				<div class='col-12 mb-4 mt-2'>
					<h3 class='italique'>Puis-je emmener mes enfants ?</h3>
					<div>Les enfants de plus de 12 ans accompagnés sont les bienvenus.</div>
				</div>

				{# TARIFS #}
				<div class='col-12 mb-4 mt-2'>
					<h3 class='italique'>Quels sont les tarifs d'adhésion à l'année ?</h3>
					<ul>
						<li>Normal : 20 €</li>
						<li>Réduit : 10 €</li>
						<ul>
							<li>Étudiant</li>
							<li>Mineur</li>
							<li>Demandeurs d’emploi</li>
							<li>Personne en situation de handicap</li>
							<li>Demi-saison (à partir du 01 Décembre 2022)</li>
						</ul>
					</ul>
				</div>

				{# SAISON 2022/2023 #}
				<div class='col-12 mb-4 mt-2'>
					<h3 class='italique'>Date de la saison 2022/2023 ?</h3>
					<div>La saison 2022/2023 commence le 19 avril 2022 et se termine le 01 juillet 2023.</div>
				</div>
			</section>
		</div>
	</div>
{% endblock %}