{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block title %}Asso - FAQ{% endblock %}

{% block body %}

	<div class="container">
		<div class='row mb-3'>

			{# TITRE #}
			<h2 class="radius-long offset-4 col-4">Foire aux questions</h2>


			{# QUESTIONS #}
			<section class='col-12'>

				{# HORAIRES ? #}
				<div class='col-12 mb-4 mt-2'>
					<h3 class='italique'>Quels sont les horaires ?</h3>
					<div>Nous sommes ouverts tout les mardis sauf vacanses et jours fériés.</div>
					<div>Les horaires sont de 18h30 jusqu'à 23h30. Nous n'acceptons plus personne à partir de 23h.</div>
				</div>

				{# ADRESSE ? #}
				<div class='col-12 mb-4 mt-2'>
					<h3 class='italique'>A quels adresse vous situez-vous ?</h3>
					<div>4 Rue Jean Bordier, 45130 Baule. Batiment annexe gauche de la mairie.</div>
				</div>

				{# AMENER MON JEU ? #}
				<div class='col-12 mb-4 mt-2'>
					<h3 class='italique'>Puis-je amener mon jeu ?</h3>
					<div>Oui, au contraire, on vous encourage à les emmener. Si vous avez un jeu et que vous n'avez personne avec qui y jouer, c'est l'occasion de le faire.</div>
				</div>

				{# MANGER ? #}
				<div class='col-12 mb-4 mt-2'>
					<h3 class='italique'>Peut-on manger sur place ?</h3>
					<div>Oui mais de préférence dans la partie cuisine ou à l'extérieur. Les boissons sont acceptés mais ne doivent pas être sur les tables de jeu à cause du risque de les renverser.</div>
				</div>

				{# AMENER MES ENFANTS ? #}
				<div class='col-12 mb-4 mt-2'>
					<h3 class='italique'>Puis-je emmener mes enfants ?</h3>
					<div>Les enfants de plus de 12 ans accompagnés sont les bienvenus.</div>
				</div>
			</section>
		</div>
	</div>
{% endblock %}