<div class='row mb-4'>

	{# TITRE #}
	{% include 'home/_titre.html.twig' with {'titre': 'Spotify'} %}

	{# IFRAME #}
	<iframe
		style="border-radius:12px"
		src="https://open.spotify.com/embed/playlist/0m704Fqhf9nWomGOitWyxB?utm_source=generator"
		width="100%"
		height="352"
		frameBorder="0"
		allowfullscreen=""
		allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
		loading="lazy"
	></iframe>

	{# LIEN RAJOUT #}
	<div class="mt-2"><a href="https://spotify.link/WWX01hqedyb" target="_blank">Lien pour rajouter un titre</a></div>
</div>


