{{ form_start(tchat_form) }}

	<div class="row">

		<div class="offset-1 col-8 p-0">
			{{ form_widget(tchat_form.content) }}
		</div>
		<div class="col-1">
			<div id='spinner_tchat_valid' class="pt-1 spinner-grow spinner-grow-xl green hide" role="status">
				<span class="sr-only">Chargement...</span>
			</div>
			<button id='tchat_valid' class="btn btn-success input-valid">
				<i id='button_valid_icon'class="far fa-comment-dots grey"></i>
				{{ button_label|default('') }}
			</button>
		</div>
	</div>

{{ form_end(tchat_form) }}