<div class='col-12 mb-4'>
	<h4 class="radius-short offset-2 col-8 d-none d-lg-block d-xl-block">Mini-tchat</h4>
	<h4 class="radius-long offset-2 col-8 d-none d-lg-none d-xl-none d-sm-block d-md-block">Mini-tchat</h4>

	<div class='card tchat'>
		<div class="row">
			{% if tchats is not empty %}

				{# MESSAGES #}
				<ul id='tchat_ul'>
					{% for t in tchats %}
						{% include 'tchat/_message.html.twig' %}
					{% endfor %}
				</ul>
			{% else %}
				<div class="row">
					<div class="offset-1 col-10">
						Pas de messages
					</div>
				</div>
			{% endif %}
		</div>
	</div>

	{# FORM #}
	<div class="row mt-2">
		<div class="offset-1 col-10">
			{% if is_granted('ROLE_USER') %}
				{% include 'tchat/_form.html.twig' %}
			{% endif %}
		</div>
	</div>
</div>