<h4 class="radius-short offset-2 col-8 d-none d-lg-block d-xl-block">What's app</h4>
<h4 class="radius-long offset-2 col-8 d-none d-lg-none d-xl-none d-sm-block d-md-block">What's app</h4>

<a target='_blank' href="https://chat.whatsapp.com/B8jwKYpprYF35N26URX7xL">
	<div class='btn btn-info mb-2'>
			Rejoindre le groupe de l'asso
	</div>
</a>