<div class='row mb-4'>

	{# TITRE #}
	{% include 'home/_titre.html.twig' with {'titre': "What's app" } %}

	{# LIEN #}
	<a target='_blank' href="https://chat.whatsapp.com/B8jwKYpprYF35N26URX7xL">
		<div class='btn btn-info mb-2'>
			Rejoindre le groupe de l'asso
		</div>
	</a>
</div>