{% extends 'base.html.twig' %}

{% block title %}Asso - Organigramme - Ajout{% endblock %}

{% block body %}

	<div class="container">
		<div class='row mb-3'>

			{# TITRE #}
			<h2 class="radius-long offset-4 col-4">Modification d'un organigramme</h2>

			{# AJOUT #}
			<section class='form mb-3'>

				<div class='col-2 mb-3'>
					<a href="{{ path('orga') }}">Retour</a>
				</div>

				{% include 'asso/organigramme/_form.html.twig' %}
			</section>
		</div>
	</div>
{% endblock %}