{% extends 'base.html.twig' %}

{% block title %}Sondages{% endblock %}

{% block body %}

    <div class="container">
        <div class='row mb-3'>

            {# TITRE #}
            <h2 class="radius-long offset-4 col-4">Sondages</h2>

            {# ... #}
            <section class='prochainement'>
                Prochainement
            </section>
        </div>
    </div>
{% endblock %}