
{# TITRE #}
{% include 'home/_titre.html.twig' with {'titre': "Actualités" } %}

{# ACTUS #}
{% for actu_key, actu in actus %}
	<div class="m-1 mt-2">
		{% include 'actu/_actu.html.twig' with {'mobile': loop.first ? false : true } %}
	</div>
{% endfor %}

{# LIEN ACTU #}
<div class="row mt-3 mb-1">
	<div class="offset-4 col-4 centrer">
		<a href='{{ path('actu') }}'>Voir toutes les actualités</a>
	</div>
</div>