{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block title %}Asso - Réglement intérieur{% endblock %}

{% block body %}

	<div class="container">
		<div class='row mb-1'>

			{# TITRE #}
			<div class='col-12'>
				<h2 class='center souligne'>Réglement intérieur</h2>
			</div>
		</div>
		<div class='row center'>
			<div class='col-12'>
				A venir
			</div>
		</div>
	</div>

{% endblock %}