<div class='row mb-4'>

	{# TITRE #}
	{% include 'home/_titre.html.twig' with {'titre': 'Calendrier'} %}

	<div class='mb-2'>
		Nous somme le
		<br />
		{{ dateJour }}
	</div>

	{# CALENDRIER GOOGLE #}
	<div class='col-12'>
		<iframe
			src="https://calendar.google.com/calendar/embed?height=300&wkst=2&bgcolor=%23dc81f3&ctz=Europe%2FParis&mode=AGENDA&title=S%C3%A9ances%20Ludi-Meep'&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&src=azlqajNrcGw5b29xNWxlbG9kdTdvcDBxYzRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%239E69AF"
			frameborder="0"
			scrolling="no"
			width="300"
			height="300"
			style="border:solid 1px #777"
			class="col-12 col-sm-5 col-lg-12"
		></iframe>
	</div>
</div>