<form
	method="post"
	action="{{ path('seance_lieu_delete', {'id': lieu.id}) }}"
	onsubmit="return confirm('Étes-vous sûr de supprimer ce lieu de séance ?');"
>
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lieu.id) }}">

	<button class="btn btn-danger">
		<i class="fas fa-trash" title="Supprimer"></i>
	</button>
</form>
