{# PHOTOS #}
{% for photo in photos %}
	<div
		class="
			offset-xxl-1
			offset-xl-2
			offset-lg-2
			offset-md-3
			offset-sm-3
			offset-xs-3
			col-xxl-3
			col-xl-3
			col-lg-3
			col-md-5
			col-sm-5
			col-xs-5
			mb-5
			center
			img_grow"
	>
		{% include 'photo/_photo.html.twig' %}
	</div>
{% endfor %}

{# VIDE #}
{% if photos is empty %}
	<p class="mt-2 center">
		Il n'y a pas encore de photos, n'hésitez pas à en poster une :)
	</p>
{% endif %}