<div class="chargement-fond">
	<div class="mainDiv">
		<div class="chargement-text">CHARGEMENT EN COURS</div>
		<img class="chargement-img" src="{{ asset('/images/shieldui/loading.gif') }}" />
	</div>
</div>