{# VALIDER #}
<div class="row mt-3">
	<div class="offset-3 col-2">
		<button id='valider' data-id="" data-index="" class="btn btn-success">Valider</button>
	</div>
</div>

{# CLOSE #}
<div class='row m0'>
	<div class="col-sm-3 offset-9 right">
		<button id="closeModal">
			<i class="fas fa-window-close"></i>
			<span>Fermer la fenêtre</span>
		</button>
	</div>
</div>