<section class='col-xs-12 col-sm-12 col-md-12 col-lg-3'>

	{# TCHAT #}
	{% include 'tchat/_index.html.twig' %}

	{# CONNEXION #}
	{% include 'home/connexion/_index.html.twig' %}

	{# SONDAGES #}
	<div class="mt-5">
		{% include 'sondage/_sondages.html.twig' %}
	</div>
</section>