/* Visuel bootstrap */
/*[class*='col'], [class*='col-xs'], [class*='col-sm'], [class*='col-md'], [class*='col-lg'], [class*='col-xl'], [class*='col-xxl'] {
	border: 1px solid;
	background-color: lightgreen;
	display: block;
}*/

/* Matrice */
body {
	background-color: #F5F5DC;
}

header {
	background-color: #cda7e2;
	border-top: 5px solid white;
	border-left: 5px solid white;
	border-right: 5px solid white;
}

section {
	display: block;
	background-color: rgb(187, 173, 193);
	border: 5px solid white;
	padding: 10px;
}

h2 {
	padding: 4px;
	margin-top: 8px!important;
	margin-bottom: 15px;
	text-align: center;
	display: block;
	color:#DA70D6;
	text-shadow: 2px 1px grey;
	text-decoration: underline wavy 2px #DA70D6;
	text-underline-offset: 2px;
}

h4 {
	text-align: center;
	padding: 2px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-bottom: 12px;
	display: block;
	border: 1px solid #BBADC1;
	color:#A48DC8;
	background-color:#ab6bc9;
	text-shadow:
		#e7f6ff 0 -1px 0,
		#8345a1 3px 3px 0,
		#333 5px 5px 10px;
}

/* Section variante */
.section-middle {
	background-color: rgb(211, 197, 217);
}

/* Radius */
.radius-short {
	border-radius: 5% / 45%;
}
.radius-long {
	border-radius: 3% / 45%;
}

/* Commun */
.center				{ 	text-align: center;				}
.alignBottom		{	text-align: bottom;				}
.alignRight			{	text-align: right;				}
.alignLeft			{	text-align: left;				}

.floatbottom		{	float : bottom;					}
.floatright			{	float : right;					}
.floatleft			{	float : left;					}
.floatcenter		{	float : center;					}

.conteneur			{	display: flex;					}
.hidden				{	display: none;					}
.hide				{	display: none;					}

.taille8 			{	font-size: 8px;					}
.taille9 			{	font-size: 9px;					}
.taille10 			{	font-size: 10px;				}
.taille11 			{	font-size: 11px;				}
.taille12 			{	font-size: 12px;				}
.taille13 			{	font-size: 13px;				}
.taille14 			{	font-size: 14px;				}
.taille15 			{	font-size: 15px;				}
.taille18 			{	font-size: 18px;				}
.taille20 			{	font-size: 20px;				}
.taille25 			{	font-size: 25px;				}

.barre 				{	text-decoration: line-through;	}
.souligne			{	text-decoration: underline;		}
.gras				{	font-weight: bold;				}
.italique			{	font-style : italic;			}

.pointeur 			{	cursor: pointer;				}
.pointeur_base		{	cursor: auto;					}
.pointeur_help		{	cursor: help;					}

.block				{	display: block;					}

.red				{	color: red;						}
.blue				{	color: blue;					}
.green				{	color: green;					}
.yellow				{	color: yellow;					}
.purple				{	color: purple;					}
.pink				{	color: pink;					}
.maroon				{	color: maroon;					}
.white				{	color: white;					}
.orange				{	color: orange;					}
.grey				{	color: grey;					}

.bck_gainsboro		{	background-color: #DCDCDC;		}


/* Bordure */
.entoure {
	border: 4mm ridge rgba(215, 0, 213, 0.5);
	color: purple;
	display: block;
	padding: 15px;
	width: 95%;
	margin-left: 15px;
}


.prochainement, .form {
	margin-top: 15px;
	font-weight: bold;
	text-align: center;
	font-size: 25px;
}

/* CHECKTYPE */
input[type="checkbox"] {
  /*appearance: none;*/
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.10em;
  height: 1.10em;
  border: 0.10em solid currentColor;
  border-radius: 0.10em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.form-control + .form-control {
  margin-top: 1em;
}


/* Form User */
form[name="user"] label {
	padding-right: 15px;
}
