/* Visuel bootstrap */
/*[class*='col'] {
	border: 1px solid;
	background-color: lightgreen;
	display: block;
}*/

/* Matrice */
body {
	background-color: #F5F5DC;
}

header {
	background-color: #cda7e2;
	border-top: 5px solid white;
	border-left: 5px solid white;
	border-right: 5px solid white;
}

section {
	display: block;
	background-color: rgb(187, 173, 193);
	border: 5px solid white;
	padding: 10px;
}

h2 {
	text-align: center;
	padding: 4px;
	margin-top: 8px!important;
	margin-bottom: 15px;
	display: block;
	color: #DA70D6;
    text-decoration: underline wavy #DA70D6;
    text-shadow: 2px 1px grey;
}

h4 {
	text-align: center;
	padding: 2px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-bottom: 12px;
	border: 1px solid #BBADC1;
	display: block;
	color:#A48DC8;
	background-color: #DA70D6;
	text-shadow:
		-1px -1px 0 #7218FC,
		1px -1px 0 #7218FC,
		-1px 1px 0 #7218FC,
		1px 1px 0 #7218FC,
		1px 1px 2px grey,
		1px 1px 3px grey,
		1px 1px 5px grey,
		1px 1px 7px grey,
		1px 1px 10px grey,
		1px 1px 12px grey,
		1px 1px 18px grey;
}

.section-middle {
	background-color: rgb(211, 197, 217);
}

/* Radius */
.radius-short {
	border-radius: 5% / 45%;
}
.radius-long {
	border-radius: 3% / 45%;
}

/* Commun */
.center				{ 	text-align: center;				}
.alignBottom		{	text-align: bottom;				}
.alignRight			{	text-align: right;				}
.alignLeft			{	text-align: left;				}

.floatbottom		{	float : bottom;					}
.floatright			{	float : right;					}
.floatleft			{	float : left;					}
.floatcenter		{	float : center;					}

.conteneur			{	display: flex;					}

.hidden				{	display: none;					}

.taille8 			{	font-size: 8px;					}
.taille9 			{	font-size: 9px;					}
.taille10 			{	font-size: 10px;				}
.taille11 			{	font-size: 11px;				}
.taille12 			{	font-size: 12px;				}
.taille13 			{	font-size: 13px;				}
.taille14 			{	font-size: 14px;				}
.taille15 			{	font-size: 15px;				}

.barre 				{	text-decoration: line-through;	}
.souligne			{  	text-decoration: underline;		}
.gras				{	font-weight: bold;				}
.italique			{	font-style : italic;			}

.pointeur 			{	cursor: pointer;				}
.pointeur_base		{	cursor: auto;					}
.pointeur_help		{	cursor: help;					}

.block				{	display: block;					}

/* Bordure */
.entoure {
	border: 4mm ridge rgba(215, 0, 213, 0.5);
	color: purple;
	display: block;
	padding: 15px;
}


.prochainement {
	margin-top: 15px;
	font-weight: bold;
	text-align: center;
	font-size: 25px;
}