<form action="{{ path('login') }}" method="post">
	<div class="row form_login">

		{# Mail #}
		<div class="offset-lg-0 col-lg-4 offset-md-3 col-md-2 alignLeft">
			<label for="username">Pseudo</span></label>
		</div>
		<div class="col-md-4 col-lg-8 col-8">
			<input class="col-12" type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
		</div>

		{# MDP #}
		<div class="offset-lg-0 col-lg-4 offset-md-3 col-md-2 mt-3 mb-3 alignLeft">
			<label for="password" title="Mot de passe">MdP</label>
		</div>
		<div class="col-md-4 col-lg-8 col-8 mt-3 mb-3">
			<input class="col-12" type="password" id="password" name="_password" required="required"/>
		</div>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		{# VALID #}
		<div class="col-5 offset-1 mt-1">
			<button class='p-1' type="submit">Se connecter</button>
		</div>

		{# INSCRIPTION #}
		<div class="col-4 offset-1 mt-2">
			<a href="{{ path('user_add')}}" class='p-1'>S'inscrire</a>
		</div>
	</div>
</form>

{# POSSIBILITES #}
<div class='row mt-3'>
	<div class="col-12">
		<span class='center souligne'>En tant que membre vous pourrez</span>
		
		<ul class="alignLeft">
			<li>Prévenir de votre présence à une séance</li>
			<li>Postez des photos, parler dans le mini-tchat</li>
			<li>Commentez une actualité ou une photo</li>
			<li>Participer aux sondages</li>
			<li>Ouvrir ou rejoindre une table de jeu</li>
			<li>Afficher votre ludothèque</li>
		</ul>
	</div>
</div>