<header class="container">

	{# COUVERTURE #}
	<div class="row text-center navi2">
		<div class="col-12">
			<a href="{{ path('home') }}">
				<img src="{{ asset('build/image/logo/entete.png') }}">
			</a>
		</div>
	</div>

	{# NAVBAR #}
	{% include 'navigation.html.twig' %}
</header>