<div class="container mt-3 mb-4">
  	<div class="row justify-content-md-center">

		<div class="col-10">
			<img src="{{ asset('build/image/logo/entete.png') }}">
		</div>
		<div class="col-10">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container-fluid">
					<a class="navbar-brand" href="#">Ludi-Meep'</a>
					<button
						class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="nav navbar-nav me-auto mb-2 mb-lg-0">

							{# ACTUS #}
							<li class="nav-item disabled">
								<a class="hoverable nav-link active" aria-current="page" href="#">Actualités</a>
							</li>

							{# CALENDRIER #}
							<li class="nav-item">
								<a class="hoverable nav-link" href="#">Calendrier</a>
							</li>

							{# NEWLETTERS #}
							<li class="nav-item">
								<a class="hoverable nav-link" href="#">Newletters</a>
							</li>

							{# ASSO #}
							<li class="nav-item dropdown">
								<a
									class="hoverable nav-link dropdown-toggle"
									href="#"
									id="navbarDropdown"
									role="button"
									data-bs-toggle="dropdown"
									aria-expanded="false"
								>
									L'asso
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li><a class="dropdown-item" href="#">Infos pratique</a></li>
									<li><a class="dropdown-item" href="#">Organigramme</a></li>
									<li><a class="dropdown-item" href="#">Réglement intérieur</a></li>
									<li><a class="dropdown-item" href="#">Statuts</a></li>
								</ul>
							</li>

							{# CONTACT #}
							<li class="nav-item dropdown">
								<a
									class="hoverable nav-link dropdown-toggle"
									href="#"
									id="navbarDropdown"
									role="button"
									data-bs-toggle="dropdown"
									aria-expanded="false"
								>
									Nous contacter
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li><a class="dropdown-item" href="#">Laisser un message</a></li>
									<li><a class="dropdown-item" href="#">Nous appeller</a></li>
									<li><hr class="dropdown-divider"></li>
									<li>ludimeep@protonmail.com</li>
								</ul>
							</li>

							{# CONNEXION #}
							<li class="nav-item">
								<a class="hoverable nav-link" href="#">Connexion / Inscription</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>
</div>