
/* BROUILLON */
.brouillon {
	border: 1px solid yellow;
}

.brouillon_text {
	color: yellow;
}


/* ACTU */
.actu {
	border: 1px solid #AB6BC9;
	background-color: #E6D2EE;
}
.actu-odd {
	border: 1px solid #AB6BC9;
	background-color: #D3C5D9;
}

.actu ul, .actu-odd ul {
	text-align: left;
	margin-left: 1%;
	list-style-type: none;
}

.actu li, .actu-odd li {
	margin-bottom: 8px;
}