<form
	method="post"
	action="{{ path('message_delete', {'id': message.id}) }}"
	onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce message ? Cette action est irréversible !');
">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
	<button class="btn btn-danger">Delete</button>
</form>
