{% extends 'base.html.twig' %}

{% block title %}Modifier mon message{% endblock %}

{% block body %}

	<div class="container">
		<div class='row mb-3'>

			{# TITRE #}
			<h2 class="radius-long offset-4 col-4">Modifier mon message</h2>

			{# MODIFIER USER #}
			<section class='form'>
				{{ include('contact/message/_form.html.twig', {'button_label': 'Modifier'}) }}
			</section>
		</div>
	</div>
{% endblock %}
