{% extends 'base.html.twig' %}

{% block title %}Asso - Status{% endblock %}

{% block body %}

	<div class="container">
		<div class='row mb-3'>

			{# TITRE #}
			<h2 class="radius-long offset-4 col-4">Statuts</h2>

			{# STATUTS #}
			<section class='prochainement'>
				{% for file in files %}
					<a href="{{ path('statuts_export', {'fileName': file.filename}) }}">{{ file.filename }}</a>
				{% else %}
					Aucun document disponible.
				{% endfor %}
			</section>
		</div>
	</div>
{% endblock %}