/* Form login */
.form_login input {
	max-width: 180px!important;
	color: purple;
}
.form_login button {
	color: purple;
	background-color: #F5F5C5;
	border-radius: 7px;
}
.form_login a {
	color: purple;
}
.lien_profil {
	font-style : italic;
	color: grey;
}

/* Séance en cours */
.seance-actif {
	font-size: 25px;
	padding: 15px;
	font-weight: bold;
}

/* Actu alternance bck */
.bck_alter {
	background-color: rgb(220, 181, 222);
}
