<form method="post" action="{{ path('table_delete', {'id': table.id}) }}" onsubmit="return confirm('Étes vous sûr de supprimer cette table ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ table.id) }}">
    <button class="btn">Supprimer</button>
</form>
