{% extends 'base.html.twig' %}

{% block title %}Modifier mes informations{% endblock %}

{% block body %}

	<div class="container">
		<div class='row mb-3'>

			{# TITRE #}
			<h2 class="radius-long offset-4 col-4">Modifier mes informations</h2>

			{# ... #}
			<section class='prochainement'>
				Prochainement

			{# {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }} #}

			{# <a href="{{ path('home') }}">back to list</a> #}

			{# {{ include('user/_delete_form.html.twig') }} #}
			</section>
		</div>
	</div>
{% endblock %}