{% extends 'base.html.twig' %}

{% block title %}Modifier mes informations{% endblock %}

{% block body %}

	<div class="container">
		<div class='row mb-3'>

			{# TITRE #}
			<h2 class="radius-long offset-4 col-4">Modifier mes informations</h2>

			{# MODIFIER USER #}
			<section class='form'>
				<div class="col-3">
					<a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-info">Retour</a>
				</div>

				{% include 'user/_form.html.twig' with {'edit': true, 'button_label': 'Modifier'} %}

				<div class="col-3 offset-9 center mb-2">
					{{ include('user/_delete_form.html.twig') }}
				</div>
			</section>
		</div>
	</div>
{% endblock %}